################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WLW/LinkBlogPlugin/bin
/WLW/LinkBlogPlugin/obj
/WLW/LinkBlogPlugin/packages/Newtonsoft.Json.8.0.2
/WLW/LinkBlogPlugin/packages/RestSharp.105.2.3
/WLW/LinkBlogPlugin/AlvinAshcraft.LinkBuilder.csproj.user
/WLW/LinkBlogPlugin/AlvinAshcraft.LinkBuilder.sln.GhostDoc.xml
/WLW/LinkBlogPlugin/.vs/AlvinAshcraft.LinkBuilder/v14/.suo

packages/
/WLW/LinkBlogPlugin/AlvinAshcraft.LinkBuilder.csproj.DotSettings.user
/WLW/LinkBlogPlugin/AlvinAshcraft.LinkBuilder.sln.DotSettings.user
/WLW/LinkBlogPlugin/.vs/AlvinAshcraft.LinkBuilder/v15/.suo
/WLW/LinkBlogPlugin/.vs/AlvinAshcraft.LinkBuilder/v15/Server/sqlite3
